body {
  background-color: #444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #333;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  color: #f5f5f5f5;
}

footer {
  height: 60px;
  width: 100%;
  background: #333;
  margin-top: auto;
}

.header__controls {
  display: flex;
  font-size: 1.5em;
}

.header__controls > * {
  margin: 10px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.field,
.inputs,
.results {
  background: #444;
  margin: 30px;
}

.setup {
  margin: 30px;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.inputs {
  background: unset;
}
.field {
  display: flex;
  min-width: 400px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  /* flex-direction:column; */
}

.fancy-shadow {
  position: relative;
  background: #444;
}
.fancy-shadow::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: #444;
  filter: blur(5px);
  z-index: -1;
}
.fancy-shadow::after {
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  display: block;
  content: "";
  background: linear-gradient(to right top, #303030 48%, #505050 50%);
  z-index: -10;
  filter: blur(10px);
}

.fancy-shadow,
.fancy-shadow::before,
.fancy-shadow::after {
  border-radius: 1em;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field__column {
  display: flex;
  flex-direction: column;
  /* min-width:30px; */
  justify-content: center;
  align-items: center;
}

.field__cell {
  background: #eb3a5b;
  width: 100%;
  aspect-ratio: 1;
  min-height: 15px;
  min-width: 15px;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small{
  width:15px;
}

.normal{
  width:25px;
}

.large{
  width:40px;
}

.field__column:nth-child(even) .field__cell:nth-child(even),  
.field__column:nth-child(odd) .field__cell:nth-child(odd) {
  opacity: 0.5;
}

.field__cell[active] {
  background-color: #3aebca;
  position: relative;
}

.field__cell[active]::before {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #111;
}

.field__cell[active]::after {
  position: absolute;
  display: block;
  content: "";
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  z-index: 10;
  background-color: #3aebca;
}

.field__cell[clip] {
  background-color: #66a;
}

.field__cell[disabled] {
  background-color: #0000;
}

.button {
  position: relative;
  color: #e0e0e0;
  background-color: #333;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.3em;
  width: 120px;
  overflow: hidden;
  z-index: 10;
  transition: 0.2s;
}

.button:hover {
  background: #555;
}

.field-column {
  display: flex;
  flex-direction: column;
  /* min-width:30px; */
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.row > * {
  margin: 5px;
}

.field__info {
  width: 95px;
  margin:10px;
  font-size:1.0em;
  color:white;
}

.header__logo{
  height:30px;
  display:flex;
  align-items: center;
}

.header__logo svg{
  height:45px;
}
.inputs__instruction
{
  color:white;
  margin:10px 0;
}