body {
  background-color: #d0d0d0;
  min-height: 100vh;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.field,
.inputs,
.results {
  background: gray;
}

.field {
  display: flex;
  min-width: 300px;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  /* flex-direction:column; */
}

.field__column {
  display: flex;
  flex-direction: column;
  /* min-width:30px; */
  justify-content: center;
  align-items: center;
}

.field__cell {
  background: #f00;
  min-height: 15px;
  min-width: 15px;
  border: 1px solid #0001;
}

.field__column:nth-child(even) .field__cell:nth-child(even) {
  opacity: 0.8;
}
.field__column:nth-child(odd) .field__cell:nth-child(odd) {
  opacity: 0.8;
}
.field__cell[active] {
  background-color: green;
}

.field__cell[clip] {
  background-color: #448;
}

.field__cell[disabled] {
  background-color: #0000;
}

.button {
  color: white;
  background-color: #222;
  margin: 5px;
}

.button:hover {
  background-color: #332;
}

.field-column {
  display: flex;
  flex-direction: column;
  /* min-width:30px; */
  justify-content: center;
  align-items: center;
}

.field-cell {
  background: #f00;
  height: 25px;
  width: 25px;
}

.row {
  display: flex;
}

.row > * {
  margin: 5px;
}
